<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ultrawise.android.bank.view.transfer" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_title">
		
		
		<!-- 信用卡 -->
		<activity android:name=".ABankMain">
            
        </activity>
		<activity android:name="com.ultrawise.android.bank.view.credit.CreditView">
        </activity>
        <activity android:name="com.ultrawise.android.bank.view.credit.CreditDetail">
        </activity>
        <activity android:name="com.ultrawise.android.bank.view.credit.CreditInfo_List">
        </activity>
        <activity android:name="com.ultrawise.android.bank.view.credit.TransactionDetailsList">
        </activity>
    	<activity android:name="com.ultrawise.android.bank.view.FinancialConsultation">
    		<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ultrawise.android.bank.view.UserLogin">
        </activity>
        <activity android:name="com.ultrawise.android.bank.view.credit.ActivateCard">
        </activity>
        <activity android:name="com.ultrawise.android.bank.view.credit.CancelTheCard">
        </activity>
        <activity android:name="com.ultrawise.android.bank.view.credit.CancelCardQR">
        </activity>
        <activity android:name="com.ultrawise.android.bank.view.credit.CreditCardBind">
        </activity>
        
		<activity android:name=".TransAccConfirm" android:label="@string/app_title">
		</activity>
		<activity android:name=".TransferAccActivity" android:label="@string/app_title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".TransResult" android:label="@string/app_title"
			android:theme="@android:style/Theme.Dialog">
		</activity>

		<activity android:name=".TransPhConfirm" android:label="@string/app_title">
		</activity>

		<activity android:name=".TransferActivity" android:label="@string/app_title">
		</activity>
		
		<!-- kjsolo's activity -->
		<activity android:label="@string/phone_bank"
			android:name="com.ultrawise.android.bank.view.account_management.AccountManagement">
		</activity>
		<activity android:label="@string/phone_bank"
			android:name="com.ultrawise.android.bank.view.account_management.AccountInfo">
		</activity>
		<activity android:label="@string/phone_bank"
			android:name="com.ultrawise.android.bank.view.account_management.QueryAccount"></activity>
		<activity android:label="@string/phone_bank"
			android:name="com.ultrawise.android.bank.view.account_management.AddAccount"></activity>
		<activity android:label="@string/phone_bank"
			android:name="com.ultrawise.android.bank.view.account_management.ActiveAccount"></activity>
		<activity android:label="@string/phone_bank"
			android:name="com.ultrawise.android.bank.view.account_management.DeleteAccount"></activity>
		<activity android:label="@string/phone_bank"
			android:name="com.ultrawise.android.bank.view.account_management.LossRegister"></activity>
		<activity android:label="@string/phone_bank"
			android:name="com.ultrawise.android.bank.view.account_management.OrderCard"></activity>
		<!-- end activity -->
		
	</application>
	<uses-sdk android:minSdkVersion="7" />

</manifest> 