<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ultrawise.android.bank.view.transfer" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_title">
		<activity 	android:name=".TransPhConfirm"
					android:label="@string/app_title">
					</activity>
		<activity	android:name=".TransResult"
					android:label="@string/app_title"
					android:theme="@android:style/Theme.Dialog">
					</activity>					
		<activity android:name=".TransferActivity" android:label="@string/app_title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:label="@string/phone_bank"
			android:name="com.ultrawise.android.bank.view.account_management.AccountManagement">
			
		</activity>

		<activity android:label="@string/phone_bank"
			android:name="com.ultrawise.android.bank.view.account_management.AccountInfo">
		</activity>


		<activity android:label="@string/phone_bank"
			android:name="com.ultrawise.android.bank.view.account_management.QueryAccount"></activity>
		<activity android:label="@string/phone_bank"
			android:name="com.ultrawise.android.bank.view.account_management.AddAccount"></activity>
	</application>
	<uses-sdk android:minSdkVersion="7" />

</manifest> 